<launch>
	<arg name="parking_point" default="[0, 0, 0]"/>
	<arg name="exit_point" default="[10, 10, 0]"/>

	<node name="Parking" pkg="final_challenge" type="Parking.py" output="screen">
		<param name="parking_point" value="$(arg parking_point)"/>
		<param name="exit_point" value="$(arg exit_point)"/>
	</node>
</launch>
