<launch>
  <!-- Load local parameters -->
  <rosparam command="load" file="$(find maze_solver)/params/rrt.yaml" ns="/maze_solver"/>
  <rosparam command="load" file="$(find maze_solver)/params/car.yaml" ns="/maze_solver"/>
  <rosparam command="load" file="$(find maze_solver)/params/topics.yaml" ns="/maze_solver"/>
</launch>
